# EDA探索性数据分析

In [2]:
import pandas as pd

df = pd.read_csv('../data/Antai_hackathon_attr.csv')

In [3]:
df.head()

   item_id  cate_id  store_id  item_price
0   140446     1413     11822           1
1   403593     2313     19712           1
2   252621     1682      6622           1
3   204530     1413     11822           1
4   340076      181     24403           1