# EDA探索性数据分析

In [24]:
import pandas as pd
df_attr = pd.read_csv('../data/Antai_hackathon_attr.csv')
df_train = pd.read_csv('../data/Antai_hackathon_train.csv')
df_test = pd.read_csv('../data/dianshang_test.csv')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:.2f}'.format

### 数据检查 -- 能用吗？

##### 检查缺失值           -- 三组数据无缺失值。

- 商品数据

In [ ]:
df_attr.isnull().sum()

- 训练数据

In [ ]:
df_train.isnull().sum()

- 测试数据

In [ ]:
df_test.isnull().sum()

##### 检查重复值

- 商品数据

In [ ]:
df_attr.duplicated().sum()

- 训练数据

In [ ]:
df_train.duplicated().sum()

- 测试数据

In [ ]:
df_test.duplicated().sum()

##### 检查异常值

- 商品数据 记录数1924269条

In [25]:
df_attr.describe()

         item_id    cate_id   store_id  item_price
count 1924269.00 1924269.00 1924269.00  1924269.00
mean  3882977.25    1380.07   33681.03     1038.87
std   2184652.60     862.32   19856.49     1773.79
min         1.00       1.00       1.00        1.00
25%   2006722.00     584.00   17107.00      177.00
50%   3926939.00    1416.00   32825.00      413.00
75%   5777812.00    1913.00   49390.00     1151.00
max   7585751.00    3902.00   78186.00    16201.00

- 训练数据 记录数6989817条

In [26]:
df_train.describe()

       buyer_admin_id    item_id      irank
count      6989817.00 6989817.00 6989817.00
mean       3793426.60 3792787.50      29.33
std        2190326.97 2189485.77     302.32
min              1.00       1.00       1.00
25%        1896300.00 1896413.00       4.00
50%        3795519.00 3793176.00       8.00
75%        5689123.00 5689069.00      13.00
max        7585728.00 7585750.00   11766.00

- 测试数据 记录数140380条

In [27]:
df_test.describe()

       buyer_admin_id    item_id     irank
count       140380.00  140380.00 140380.00
mean       3797166.54 3775240.50     14.92
std        2201844.33 2188562.48     31.18
min           1288.00     106.00      2.00
25%        1864320.00 1888463.00      5.00
50%        3744424.00 3759288.00      8.00
75%        5774133.00 5668940.00     14.00
max        7585267.00 7585176.00    563.00